@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #eafaf1;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #080c16;
  scroll-behavior: smooth;
  min-width: 486px;
}

.header {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 2rem 1.5rem;
}

@media screen and (max-width: 850px) {
  .header {
    background-color: #fcfcfc;
    padding: 1.5rem 0 0 0;
  }
}

/* Demo page - do not create tablet and mobile navs for this application*/
.nav__block {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  margin: 0.5rem 2.5rem;
}
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__large-button-container {
  display: none;
}
@media screen and (max-width: 850px) {
  .nav__large-button-container {
    display: flex;
    align-content: center;
    justify-items: end;
    padding: 0;
  }
}

.nav__large-button {
  border: none;
  background: none;
  padding: 0 0.75rem;
}

.nav__large-button:hover {
  border: 1px solid #1fe374;
}

.nav__large-button-img {
  max-width: 35px;
  max-height: 35px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav__large {
  display: flex;
  padding-left: 5rem;
  min-width: 540px;
}

.nav__large-list {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  list-style: none;
  font-size: 1rem;
  font-weight: 650;
  margin: 0;
  padding: 0;
}
.nav__large-pricing {
  text-decoration: none;
  color: #080c16;
}

.nav__large-card {
  border:
    2px solid,
    #00ad6a;
  padding: 0.45rem 1rem;
  margin: 0.25rem;
}

.nav__large-anchor {
  text-decoration: none;
  color: #080c16;
}

.nav__large-anchor:hover,
.nav__large-anchor:focus {
  color: #00ad6a;
}

@media screen and (max-width: 850px) {
  .nav__large {
    display: none;
  }
}

.nav__mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav__mobile {
    display: none;
  }
}

.main {
  position: relative;
  margin: 0;
}

.hero__container {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 850px) {
  .hero__container {
    border-top: 1px solid #d6dae5;
  }
}

@media screen and (max-width: 850px) {
  .hero__container {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.hero__header {
  margin: 0;
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 95%;
}

.hero__blurb {
  font-size: 1.1rem;
  line-height: 150%;
  margin-bottom: 0;
  padding: 0 1.5rem;
}

@media screen and (max-width: 850px) {
  .hero__header {
    padding: 2rem 0 1.5rem 0;
    font-size: 3rem;
  }
}

.cta {
  display: flex;
  justify-content: center;
}

.plan__blocks {
  display: flex;
  align-items: center;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 350;
  max-width: 1200px;
}

@media screen and (max-width: 1000px) {
  .plan__blocks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
    max-width: 850px;
  }
}

.basics,
.business,
.premium {
  width: calc(100% / 3);
}

@media screen and (max-width: 1000px) {
  .basics,
  .business,
  .premium {
    width: 100%;
  }
}

.basics__column,
.business__column,
.premium__column {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: auto;
}

.business__anchor,
.premium__anchor {
  text-decoration: none;
  color: #080c16;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 350;
}

.basics__container {
  padding: 0 2rem;
}

basics__list,
business__list,
premium__list {
  text-decoration: none;
  color: #080c16;
  line-height: 150%;
  font-size: 1rem;
  font-weight: 350;
}

.basics__list {
  padding-left: 1rem;
}

.basics__header {
  color: #00ad6a;
  font-size: 1.25rem;
  font-weight: 620;
}

@media screen and (max-width: 1000px) {
  .basics__header {
    text-align: center;
  }
}

.basics__header-break {
  display: none;
}

@media screen and (max-width: 1000px) {
  .basics__header-break {
    display: inline;
  }
}

.basics__anchor {
  text-decoration: underline;
  color: #080c16;
}

.business__container {
  border: 1px solid #00ad6a;
  background-color: #fcfcfc;
}

.business__banner {
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: 0.725rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  align-items: center;
  background-color: #00ad6a;
  border: 1px solid #00ad6a;
  border-radius: 12px 12px 0 0;
}

.business__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem 2rem 0 2rem;
}

.business__header {
  color: #00ad6a;
  font-size: 2.8rem;
  line-height: 1;
  margin: 0;
}

.business__price,
.premium__price {
  font-size: 1.4rem;
  color: #797c82;
  font-weight: 300;
  margin: 0.5rem;
}

.business__button,
.premium__button {
  border: 2px solid #1fe374;
  background-color: #1fe374;
  padding: 0.5rem;
  margin: 1rem;
  width: 175px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.business__anchor:hover .business__button,
.premium__anchor:hover .premium__button {
  padding: 0.75rem;
  width: 200px;
  margin: 0.75rem;
}

.business__tagline,
.premium__tagline {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.business__list,
.premium__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0;
  list-style: none;
  padding-right: 2rem;
}

.business__list-item,
.premium__list-item {
  text-indent: -1.25em;
}

.business__list-item::before,
.premium__list-item ::before {
  content: "\2713";
  color: #00ad6a;
  padding-right: 0.5em;
}

.business__button-mobile,
.premium__button-mobile {
  display: none;
}

.premium__container {
  border: 1px solid #d6dae5;
  background-color: #fcfcfc;
}

.premium__banner {
  background-color: #eaeaea;
  border: 1px solid #d8d9dd;
  color: #080c16;
  font-size: 0.852rem;
  font-weight: 300;
  align-items: center;
  text-align: center;
  padding: 1rem 3rem;
}

.premium__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.premium__header {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.review {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.review__container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 800px;
}

.review__blockquote {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

.review__cite {
  color: #00ad6a;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 650;
  letter-spacing: 0.1rem;
  text-align: center;
  align-items: center;
}

.faq {
  border-top: 1px solid #d6dae5;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
}

.faq__container {
  margin: 6rem 1.5rem 4rem 1.5rem;
  padding: 0;
  max-width: 1200px;
}

.faq__header {
  font-size: 2.8rem;
  margin: 0;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
}

.faq__list-item {
  line-height: 1.6rem;
  padding: 1.1rem 0;
  width: calc(50% - 10px);
}

@media screen and (max-width: 850px) {
  .faq__list-item {
    width: 100%;
  }
}

.faq__question {
  font-size: 1.25rem;
  margin: 0;
}

.faq__answer {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
}

.footer {
  background: #080c16;
  color: #00ad6a;
  text-decoration: none;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container {
  max-width: 1200px;
  padding: 0 1.5rem 0 1.5rem;
  width: 100%;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  padding: 6rem 0 6rem 0;
}

@media screen and (max-width: 1000px) {
  .footer__top {
    display: flex;
    flex-direction: column;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .footer__left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

.footer__logo-img {
  width: 140px;
}

@media screen and (max-width: 1000px) {
  .footer__signUp {
    height: 72px;
  }
}

.footer__signUp-button {
  color: #080c16;
  text-decoration: none;
  border: 2px solid #1fe374;
  background-color: #1fe374;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  width: 175px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .footer__button,
  .footer__signUp-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 400px;
  }
}

.footer__signUp-button:hover {
  font-size: 1.05rem;
  padding: 1.25rem 2.25rem;
  margin: 0.25rem 0;
}

.footer__column {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  text-indent: -1.25em;
}

@media screen and (max-width: 1000px) {
  .footer__column {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 0;
  }
}

.footer__list {
  list-style: none;
  color: #fcfcfc;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1.2rem;
  padding: none;
}

.footer__list-item {
  text-indent: -1.25em;
}

.footer__list-anchor {
  text-decoration: none;
  color: #1fe374;
  font-weight: 300;
}

.footer__bottom {
  color: #d6dae5;
  font-size: 0.75rem;
  opacity: 50%;
  line-height: 1.1rem;
  margin: 0.8rem 0;
}

@media screen and (max-width: 750px) {
  .footer__bottom {
    padding: 0 0 5rem 0;
  }
}

.footer__legal-links a {
  color: #d6dae5;
}

.footer__list-anchor:hover,
.footer__legal-anchor:hover {
  color: #fcfcfc;
}
